

div. women and stories{
               background-color:antiquewhite;
               color: olive
                   margin:20px 0 20px 0;
               padding: 20px;
           }
    

body {
    background-color: blanchedalmond;
}

#header1{
    position: absolute;
    width: 30%;
    
    float:left;
}


#header3 {
    
    
    width: 30%;
    margin: 20px;
    float:right;
}

img {
    padding-left: 15px;
    padding-right: 15px;
}

li {
    display:inline;
    margin-right: 10px;
}

.clear {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.float {
    width: 25%;
    float:inherit;
}

h1 {font-family: 'Share Tech Mono', monospace;
    font-size: 40px;
    text-align:center;

}

h2 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 40px;
    color: orange;
    text-align:center;
    }

h3 {
        font-family: 'Share Tech Mono', monospace;
        font-size: 30px;
        color: red;
        border-color: black;
        text-align:center;
    }

h4 {
    font-style:italic;
    text-align: center;
    font-size: 60px;
}
nav {
    float:right;
}


p {
    font-family:sans-serif;  
    text-align: center;
}

.centerBox {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#textBoxes {
    margin: auto;
    padding-left: 70px;
    
}

.title {
    color: blue;
    font-size: 20px;
    text-align: left;
}
